
<div class="row">
    <div class="col-6">
        <div class="mb-3 row">
          <label for="num1" class="col-sm-2 col-form-label">Numero 1:</label>
          <div class="col-sm-10">
            <input name="num1" [(ngModel)]="num1" type="text" class="form-control" name="num1" id="num1" placeholder="Numero 1">
          </div>
        </div>
        <div class="mb-3 row">
            <label for="num2" class="col-sm-2 col-form-label">Numero2</label>
          <div class="col-sm-10">
            <input name="num2" [(ngModel)]="num2" type="text" class="form-control" name="num2" id="num2" placeholder="Numero 2">
          </div>
        </div>
        <div>
            <button (click)="operacion()">
              Operar
            </button>
        </div> 
        

        <div class="mb-3 row">
            
            <div class= "form check">
                <input class="form-chech-input" type="radio" name="Operar" id="Operar" value="sumar" [(ngModel)]="Operar">
                <label class="form-check-label">
                    sumar

                </label>
                
            
        </div>
        <div class= "form check">
            <input class="form-chech-input" type="radio" name="Operar" id="Operar" value="resta" [(ngModel)]="Operar">
            <label class="form-check-label">
                resta

            </label>
            
        
    </div>
    <div class= "form check">
        <input class="form-chech-input" type="radio" name="Operar" id="Operar" value="multiplicar" [(ngModel)]="Operar">
        <label class="form-check-label">
            multiplicacion

        </label>
        
    
</div>
<div class= "form check">
    <input class="form-chech-input" type="radio" name="Operar" id="Operar" value="division" [(ngModel)]="Operar">
    <label class="form-check-label">
        division

    </label>
    

</div>
    </div>
    <div class="col-6">
        <h2>Resultado: {{resultado}}</h2>
    </div>
</div>